/* Ass 1 */
.parent .child .title{
    color: red;
}

.parent .title{
    color: blue;
}

.parent p,
.title{
    color: green;
}

/* Ass 2 */

.one,
.two,
.three,
.four{
    padding: 20px;
    margin: 15px;
    background-color: rgb(153, 45, 45);
    color: white;
    max-height: 30px;
    max-width: 400px;
    width: fit-content;
    overflow: hidden;

}